@tailwind base;

@tailwind components;

@tailwind utilities;

@import './lib/nprogress';

@import './_variables';
@import './components/authnav';

.activeTab {
    border-top: 3px solid #dd6b20;
}
.border-purple {
    border-color: #9561e2;
}
.border-purple {
    border-color: #dd6b20;
}
.text-grey-darker {
    color: #596a73;
}